<div class="card shadow-sm" style="margin-right: 10px; margin-left: 10px;">

    <div class="card-body">
        <h1 style="text-align: center">{{ informations.date_log | raw }}</h1>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-2" style="margin-bottom: 10px;">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4>ID log</h4>
                        <p class="card-text">
                            {{ informations.id_log }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4>Langue</h4>
                        <p class="card-text">
                            {{ informations.name_language }}
                            <small>({{ informations.short_name_language }})</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col" id="card_level">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4>Niveau</h4>
                        <p class="card-text">
                            <svg id="level_pastille_{{ informations.id_log }}" xmlns="http://www.w3.org/2000/svg"
                                 width="20"
                                 height="20" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                <circle cx="8" cy="8" r="8"/>
                            </svg>
                            {{ informations.name_level }}
                            <small>({{ informations.level }}%)</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4>Latence</h4>
                        <p class="card-text">
                            {{ informations.latency_log }} ms
                        </p>
                    </div>
                </div>
            </div>
            {% if completion_tokens is defined %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4>Jetons de complétion</h4>
                            <p class="card-text">
                                {{ completion_tokens }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if prompt_tokens is defined %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4>Jetons du prompt</h4>
                            <p class="card-text">
                                {{ prompt_tokens }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if total_tokens is defined %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4>Jetons utilisés</h4>
                            <p class="card-text">
                                {{ total_tokens }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if informations.name_error_type is not null %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4>Type d'erreur</h4>
                            <p class="card-text">
                                {{ informations.name_error_type }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row row-cols-1 row-cols-xl-2 g-2">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4>Messages dans les paramètres</h4>
                        <main class="content">
                            <div class="container p-0">
                                <div class="card" style="align-content: end">
                                    <div class="row g-0">
                                        <div class="position-relative">
                                            <div class="chat-messages p-4">
                                                {% if params_message is not defined or params_message is empty %}
                                                    {% include 'Components/message_card_from.html.twig' with
                                                        {
                                                            'role': "Serveur",
                                                            'message': "Impossible de trouver des messages dans les paramètres.",
                                                            'image': 'images_roles/serveur.jpg',
                                                            'date': "now"|date("H:i:s", "Europe/Paris")
                                                        } %}
                                                {% else %}
                                                    {% for message in params_message %}
                                                        {% if (message.role == 'system') %}
                                                            {% include 'Components/message_card_from.html.twig' with
                                                                {
                                                                    'role': "System",
                                                                    'message': message.content,
                                                                    'image': 'images_roles/system.png',
                                                                    'date': ''
                                                                } %}
                                                        {% elseif (message.role == 'user') %}
                                                            {% include 'Components/message_card_to.html.twig' with
                                                                {
                                                                    'role': "User",
                                                                    'message': message.content,
                                                                    'image': 'images_roles/user.png',
                                                                    'date': ''
                                                                } %}
                                                        {% else %}
                                                            {% include 'Components/message_card_from.html.twig' with
                                                                {
                                                                    'role': "Assistant",
                                                                    'message': message.content,
                                                                    'image': 'images_roles/assistant.png',
                                                                    'date': ''
                                                                } %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4>Message dans la réponse</h4>
                        <main class="content">
                            <div class="container p-0">
                                <div class="card" style="align-content: end">
                                    <div class="row g-0">
                                        <div class="position-relative">
                                            <div class="chat-messages p-4">
                                                {% if response_message is not defined or response_message is empty %}
                                                    {% include 'Components/message_card_from.html.twig' with
                                                        {
                                                            'role': "Serveur",
                                                            'message': "Impossible de trouver des messages dans la réponse.",
                                                            'image': 'images_roles/serveur.jpg',
                                                            'date': "now"|date("H:i:s", "Europe/Paris")
                                                        } %}
                                                {% else %}
                                                    {% for message in response_message %}
                                                        {% if (message.message.role == 'system') %}
                                                            {% include 'Components/message_card_from.html.twig' with
                                                                {
                                                                    'role': "System",
                                                                    'message': message.message.content,
                                                                    'image': 'images_roles/system.png',
                                                                    'date': ''
                                                                } %}
                                                        {% elseif (message.message.role == 'user') %}
                                                            {% include 'Components/message_card_to.html.twig' with
                                                                {
                                                                    'role': "User",
                                                                    'message': message.message.content,
                                                                    'image': 'images_roles/user.png',
                                                                    'date': ''
                                                                } %}
                                                        {% else %}
                                                            {% include 'Components/message_card_from.html.twig' with
                                                                {
                                                                    'role': "Assistant",
                                                                    'message': message.message.content,
                                                                    'image': 'images_roles/assistant.png',
                                                                    'date': ''
                                                                } %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row row-cols-lg-1 row-cols-xl-2 g-2">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4>Paramètres</h4>
                        <pre style="white-space: pre-wrap;"><code id="json-content">{{ informations.params_log }}</code></pre>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4>Réponse</h4>
                        <pre style="white-space: pre-wrap;"><code
                                    id="json-content">{{ informations.response_log }}</code></pre>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>