{% include 'Components/headers.html.twig' %}

<a onclick="open_diag()" title="Ajouter une langue à l'outil." data-bs-toggle="popup-tip" class="floating_buttons">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-flag-fill"
         viewBox="0 0 16 16">
        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
    </svg>
</a>

<a onclick="open_diag_add_level()" title="Ajouter un niveau à l'outil." data-bs-toggle="popup-tip"
   class="floating_buttons" style="bottom: 120px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-bar-chart-fill"
         viewBox="0 0 16 16">
        <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"/>
    </svg>
</a>

<div class="row">
    <div class="col-1">
        <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;"
             title="Revenir à la liste des outils"
             data-bs-toggle="popup-tip">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white"
                 class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16"
                 onclick="goBack()" style="cursor: pointer;">
                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"></path>
            </svg>
        </div>
    </div>
    <div class="col-9" style="margin-top: 22px;">
        {% include 'Components/breadcrumb.html.twig' with {
            'past': [
                {'link': '/', 'name': 'Accueil'},
                {'link': '/tool', 'name': 'Liste des outils'}
            ],
            'current': informations.name_tool
        } %}
    </div>
</div>

<div class="modal modal-sheet position-fixed"
     style="top: 0; bottom: 0; left: 0; right: 0; z-index: 1050; background: transparent; backdrop-filter: blur(12px);"
     tabindex="-1" role="dialog" id="formAddLanguage">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 shadow cards">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Ajouter une langue</h1>
                <button type="button" class="btn" data-bs-dismiss="modal"
                        aria-label="Close" onclick="close_diag()" style="position: relative; right: -95px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-x-lg"
                         viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form class="" action="{{ path('form_add_language') }}" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="full_name" name="full_name" required>
                        <label for="full_name">Nom complet</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="short_name" name="short_name" required>
                        <label for="short_name">Acronyme</label>
                    </div>
                    <input type="hidden" id="id_tool" name="id_tool" value="{{ informations.id_tool }}">
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-dark buttons" type="submit">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-sheet position-fixed"
     style="top: 0; bottom: 0; left: 0; right: 0; z-index: 1050; background: transparent; backdrop-filter: blur(12px);"
     tabindex="-1" role="dialog"
     id="formAddLevel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 shadow cards">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Ajouter un niveau</h1>
                <button type="button" class="btn" data-bs-dismiss="modal"
                        aria-label="Close" onclick="close_diag_add_level()" style="position: relative; right: -115px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-x-lg"
                         viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form class="" action="{{ path('form_add_level') }}" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="name" name="name" required>
                        <label for="name">Nom</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" min="0" max="100" class="form-control rounded-3" id="level" name="level"
                               required>
                        <label for="level">Niveau</label>
                    </div>
                    <input type="hidden" id="id_tool" name="id_tool" value="{{ informations.id_tool }}">
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-dark buttons" type="submit">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-sheet position-fixed"
     style="top: 0; bottom: 0; left: 0; right: 0; z-index: 1050; background: transparent; backdrop-filter: blur(12px);"
     tabindex="-1" role="dialog"
     id="formUpdateTool">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 shadow cards">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h3 class="fw-bold mb-0 fs-2">Mise à jour</h3>
                <button type="button" class="btn" data-bs-dismiss="modal"
                        aria-label="Close" onclick="close_diag_update()" style="position: relative; right: -205px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-x-lg"
                         viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form class="" action="{{ path('form_update_language') }}" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="name_update" name="name_update" required>
                        <label for="name_update">Nom de la langue</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="short_name_update"
                               name="short_name_update" required>
                        <label for="short_name_update">Acronyme</label>
                    </div>
                    <input type="hidden" id="id_language" name="id_language" value="">
                    <input type="hidden" id="id_tool_update" name="id_tool_update" value="{{ informations.id_tool }}">
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-dark buttons" type="submit">Modifier</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="content" style="width: fit-content; margin: auto;">
    <div class="card shadow-sm cards" style="margin: auto; width: fit-content;">
        <div class="card-body text-center">

            <div class="list-group card accordions" style="width: 200px;">
                {% for level in levels %}
                    <label id="level_{{ level.id_level }}" class="list-group-item d-flex gap-2 accordions"
                           style="font-size: medium; font-weight: normal;">
                        <span>{{ level.name_level }} <small>({{ level.level }})</small></span>
                        <div style="position: absolute; right: 10px; cursor: pointer;"
                             data-bs-toggle="popup-tip"
                             title="Supprimer un niveau pour l'outil. ATTENTION : Les niveaux sont partagés par toutes les langues. Supprimer un niveau supprime tous les logs qui y sont associés."
                             onclick="delete_level({{ level.id_level }}); event.stopPropagation();">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                 fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </div>
                    </label>
                {% endfor %}
            </div>

        </div>
    </div>

    {% if languages is empty %}
        <h2 style="text-align: center; margin-top: 20px;">Aucune langue n'est disponible pour cet outil.</h2>
    {% else %}
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-4 g-3">
                    {% for language in languages %}
                        <div class="col" id="language_{{ language.id_language }}">
                            <div class="card h-100 cards">

                                <input class="form-check-input flex-shrink-0"
                                       type="checkbox" data-bs-toggle="popup-tip"
                                       title="Activer ou désactiver la création de logs pour cette langue et ses niveaux."
                                       id="checkbox_language_{{ language.id_language }}"
                                        {% if language.is_active %} checked {% endif %}
                                       style="position: absolute; left: 5px; top: 0; z-index: 1; width: 30px; height: 30px; cursor: pointer; display: flex;"
                                       onclick="change_status_language({{ language.id_language }}); event.stopPropagation();"
                                >

                                <div class="card-body" style="margin-top: -10px; margin-bottom: 20px;">
                                    <div class="d-flex col justify-content-between"
                                         style="margin-left: 50px; margin-bottom: 10px;">
                                        <div data-bs-toggle="popup-tip" title="Voir la langue."
                                             onclick="goTo({{ language.id_language }})" style="cursor: pointer;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                 fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                            </svg>
                                        </div>

                                        <div data-bs-toggle="popup-tip" style="cursor: pointer;"
                                             title="Modifier les informations sur la langue."
                                             onclick="open_diag_update({{ language.id_language }}, '{{ language.name_language|replace({"'": "\\'"}) }}', '{{ language.short_name_language }}');">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                 fill="currentColor" class="bi bi-pencil-square"
                                                 viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd"
                                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                            </svg>
                                        </div>

                                        <div type="button" data-bs-toggle="popup-tip" style="cursor: pointer;"
                                             title="Supprimer la langue. ATTENTION : Cette action a pour effet de supprimer tous les logs qui sont associés à cette langue."
                                             onclick="delete_language({{ language.id_language }}); event.stopPropagation();">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                 fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                            </svg>
                                        </div>

                                        <div data-bs-toggle="popup-tip" style="cursor: pointer;"
                                             title="Afficher les statistiques de cette langue."
                                             onclick="goToStatistics({{ language.id_language }})">
                                            <svg style="margin: auto" fill="currentColor"
                                                 xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                 class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
                                            </svg>
                                        </div>
                                    </div>

                                    <h4>{{ language.name_language }}</h4>

                                    <div class="list-group" style="margin-bottom: 10px;">
                                        {% for level in levels %}
                                            <label id="language_{{ language.id_language }}level_{{ level.id_level }}"
                                                   class="list-group-item d-flex gap-2"
                                                   style="cursor: pointer; user-select: none; background-color: #0e1022; color: white; font-weight: normal; font-size: medium;">
                                                <input
                                                        class="form-check-input flex-shrink-0" type="checkbox"
                                                        data-bs-toggle="popup-tip" style="cursor: pointer;"
                                                        title="Activer ou désactiver le niveau {{ level.name_level }} pour {{ language.name_language }}"
                                                        id="language_{{ language.id_language }}_level_{{ level.id_level }}"
                                                        {% if language.active_level_id is defined and level.id_level in language.active_level_id|split(',') %}
                                                            checked
                                                        {% endif %}
                                                        onclick="change_status_level({{ language.id_language }}, {{ level.id_level }}); event.stopPropagation();"
                                                >
                                                <span>{{ level.name_level }} <small>({{ level.level }})</small></span>
                                                <div style="position: absolute; right: 10px; {% if language['nbErrors_level_' ~ level.id_level] == 0 %} display: none; {% endif %}"
                                                     data-bs-toggle="popup-tip"
                                                     title="Nombre d'erreurs survenues au cours des dernières 24 heures pour le niveau {{ level.name_level }} dans {{ language.name_language }}">
                                                    <span class="badge text-bg-danger d-flex justify-content-center align-items-center"
                                                          style="height: 20px; width: 20px;">{{ language['nbErrors_level_' ~ level.id_level] }}</span>
                                                </div>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div style="position: absolute; left: 5px; bottom: 5px; display: flex;"
                                     data-bs-toggle="popup-tip"
                                     title="Nombre d'erreurs qui sont survenues au cours des 24 dernières heures pour cette langue">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red"
                                         class="bi bi-bug-fill" viewBox="0 0 16 16">
                                        <path d="M4.978.855a.5.5 0 1 0-.956.29l.41 1.352A5 5 0 0 0 3 6h10a5 5 0 0 0-1.432-3.503l.41-1.352a.5.5 0 1 0-.956-.29l-.291.956A5 5 0 0 0 8 1a5 5 0 0 0-2.731.811l-.29-.956z"/>
                                        <path d="M13 6v1H8.5v8.975A5 5 0 0 0 13 11h.5a.5.5 0 0 1 .5.5v.5a.5.5 0 1 0 1 0v-.5a1.5 1.5 0 0 0-1.5-1.5H13V9h1.5a.5.5 0 0 0 0-1H13V7h.5A1.5 1.5 0 0 0 15 5.5V5a.5.5 0 0 0-1 0v.5a.5.5 0 0 1-.5.5zm-5.5 9.975V7H3V6h-.5a.5.5 0 0 1-.5-.5V5a.5.5 0 0 0-1 0v.5A1.5 1.5 0 0 0 2.5 7H3v1H1.5a.5.5 0 0 0 0 1H3v1h-.5A1.5 1.5 0 0 0 1 11.5v.5a.5.5 0 1 0 1 0v-.5a.5.5 0 0 1 .5-.5H3a5 5 0 0 0 4.5 4.975"/>
                                    </svg>
                                    <span class="badge text-bg-danger d-flex justify-content-center align-items-center"
                                          style="height: 15px; width: 15px; user-select: none;">{{ language.nbErrors }}</span>
                                </div>

                                <div style="position: absolute; right: 5px; bottom: 5px; display: flex; cursor: pointer;"
                                     data-bs-toggle="popup-tip" title="Lancer la récupération des logs"
                                     onclick="runGetLogs({{ language.id_language }})" id="run_{{ language.id_language }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                         class="bi bi-play-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/>
                                    </svg>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endif %}
</div>

<script>
    const languages = {{ languages|json_encode|raw }};
    const levels = {{ levels|json_encode|raw }};


    /**
     * Redirige vers l'URL de la langue spécifiée.
     * @param {number} id - L'ID de la langue.
     */
    function goTo(id) {
        window.location.href = '/tool/language/' + id;
    }


    /**
     * Redirige vers la page de la liste des outils.
     */
    function goBack() {
        window.location.href = '/tool';
    }


    /**
     * Redirige vers les statistiques de la langue spécifiée.
     * @param {number} id_language - L'ID de la langue.
     */
    function goToStatistics(id_language) {
        window.location.href = '/tool/language/statistics/' + id_language;
    }


    /**
     * Change le statut d'une langue spécifiée.
     * @param {number} id_language - L'ID de la langue.
     */
    function change_status_language(id_language) {
        postRequest("/tool/change/language", {id_language: id_language})
            .then(response => {
                if (document.getElementById("checkbox_language_" + id_language).checked) {
                    levels.forEach(level => {
                        postRequest("/tool/change/level", {
                            id_language: id_language,
                            id_level: level.id_level,
                            status: true,
                            to: true
                        })
                            .then(response => {

                            })
                            .catch(error => {
                                show_danger_message("La modification a échoué : " + error);
                            });
                        document.getElementById("language_" + id_language + "_level_" + level.id_level).checked = true;
                    });
                } else {
                    levels.forEach(level => {
                        postRequest("/tool/change/level", {
                            id_language: id_language,
                            id_level: level.id_level,
                            status: true,
                            to: false
                        })
                            .then(response => {

                            })
                            .catch(error => {
                                show_danger_message("La modification a échoué : " + error);
                            });
                        document.getElementById("language_" + id_language + "_level_" + level.id_level).checked = false;
                    });
                }
            })
            .catch(error => {
                show_danger_message("La modification a échoué : " + error);
            });
    }


    /**
     * Change le statut d'un niveau spécifié pour une langue.
     * @param {number} id_language - L'ID de la langue.
     * @param {number} id_level - L'ID du niveau.
     */
    function change_status_level(id_language, id_level) {
        postRequest("/tool/change/level", {id_language: id_language, id_level: id_level})
            .then(response => {

            })
            .catch(error => {
                show_danger_message("La modification a échoué : " + error);
            });
        let nbLevelCheck = 0;
        languages.forEach(language => {
            if (language.id_language === id_language) {
                levels.forEach(level => {
                    if (document.getElementById("language_" + id_language + "_level_" + level.id_level).checked) {
                        nbLevelCheck++;
                    }
                });
            }
        });
        if (nbLevelCheck === 0) {
            if (document.getElementById("checkbox_language_" + id_language).checked) {
                postRequest("/tool/change/language", {id_language: id_language})
                    .then(response => {

                    })
                    .catch(error => {
                        show_danger_message("La modification a échoué : " + error);
                    });
                document.getElementById("checkbox_language_" + id_language).checked = false;
            }
        } else {
            if (!document.getElementById("checkbox_language_" + id_language).checked) {
                postRequest("/tool/change/language", {id_language: id_language})
                    .then(response => {

                    })
                    .catch(error => {
                        show_danger_message("La modification a échoué : " + error);
                    });
                document.getElementById("checkbox_language_" + id_language).checked = true;
            }
        }
    }


    /**
     * Supprime une langue spécifiée.
     * @param {number} id_language - L'ID de la langue.
     * @returns {Promise}
     */
    function delete_language(id_language) {
        openModal();
        document.getElementById("modalTitle").innerText = "Supprimer une langue";
        document.getElementById("modalBody").innerText = "Êtes-vous sûr de vouloir supprimer cette langue ?";
        return new Promise((resolve, reject) => {
            document.getElementById('confirm').addEventListener('click', () => {
                postRequest("/tool/language/delete/one", {id_language: id_language})
                    .then(response => {
                        show_success_message("Suppression réussie !");
                        const toolCard = document.getElementById("language_" + id_language);
                        if (toolCard) {
                            toolCard.remove();
                        }
                    })
                    .catch(error => {
                        show_danger_message("La suppression a échoué : " + error);
                    });
                closeModal();
            });

            document.getElementById('cancel').addEventListener('click', () => {
                closeModal();
            });
        });
    }


    /**
     * Ouvre le modal pour ajouter une langue.
     */
    function open_diag() {
        document.getElementById("formAddLanguage").classList.add("d-block");
    }


    /**
     * Ferme le modal pour ajouter une langue.
     */
    function close_diag() {
        document.getElementById("formAddLanguage").classList.remove("d-block");
    }


    /**
     * Ouvre le modal pour mettre à jour une langue avec les informations spécifiées.
     * @param {number} id_language - L'ID de la langue.
     * @param {string} name - Le nom de la langue.
     * @param {string} short_name - L'acronyme de la langue.
     */
    function open_diag_update(id_language, name, short_name) {
        document.getElementById("id_language").value = id_language;
        document.getElementById("name_update").value = name;
        document.getElementById("short_name_update").value = short_name;
        document.getElementById("formUpdateTool").classList.add("d-block");
    }


    /**
     * Ferme le modal pour mettre à jour une langue.
     */
    function close_diag_update() {
        document.getElementById("formUpdateTool").classList.remove("d-block");
    }


    /**
     * Ouvre le modal pour ajouter un niveau.
     */
    function open_diag_add_level() {
        document.getElementById("formAddLevel").classList.add("d-block");
    }


    /**
     * Ferme le modal pour ajouter un niveau.
     */
    function close_diag_add_level() {
        document.getElementById("formAddLevel").classList.remove("d-block");
    }


    /**
     * Supprime un niveau spécifié.
     * @param {number} id_level - L'ID du niveau.
     * @returns {Promise}
     */
    function delete_level(id_level) {
        openModal();
        document.getElementById("modalTitle").innerText = "Supprimer un niveau";
        document.getElementById("modalBody").innerText = "Êtes-vous certain de vouloir supprimer ce niveau ?\nCette action aura pour effet de supprimer tous les logs associés à ce niveau.\n";
        return new Promise((resolve, reject) => {
            document.getElementById('confirm').addEventListener('click', () => {
                postRequest("/tool/level/delete", {id_level: id_level})
                    .then(response => {
                        show_success_message("Le niveau a été supprimé avec succès !");
                        for (const id_language in languages) {
                            document.getElementById("language_" + languages[id_language].id_language + "level_" + id_level).remove();
                        }
                    })
                    .catch(error => {
                        show_danger_message("La suppression a échoué : " + error);
                    });
                closeModal();
            });
            document.getElementById('cancel').addEventListener('click', () => {
                closeModal();
            });
        });
    }


    for (const id in languages) {
        if (languages[id].nbErrors !== 0) {
            document.getElementById("language_" + languages[id].id_language).children[0].children[2].style.display = "flex";
        } else {
            document.getElementById("language_" + languages[id].id_language).children[0].children[2].style.display = "none";
        }
    }


    document.getElementById('formAddLanguage').addEventListener('click', function (event) {
        if (event.target === this) {
            close_diag();
        }
    });


    document.getElementById('formAddLanguage').addEventListener('click', function (event) {
        event.stopPropagation();
    });


    document.getElementById('formAddLevel').addEventListener('click', function (event) {
        if (event.target === this) {
            close_diag_add_level();
        }
    });


    document.getElementById('formAddLevel').addEventListener('click', function (event) {
        event.stopPropagation();
    });


    document.getElementById('formUpdateTool').addEventListener('click', function (event) {
        if (event.target === this) {
            close_diag_update();
        }
    });


    document.getElementById('formUpdateTool').addEventListener('click', function (event) {
        event.stopPropagation();
    });
</script>